.card-title {
  transition: opacity 0.3s ease;
}

.card-description {
  position: absolute;
  inset: 0; /* skrót dla top: 0; right: 0; bottom: 0; left: 0; */
  opacity: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 1rem;
  transition: opacity 0.3s ease;
  background-color: #0a58ca;
}

.card:hover .card-title {
  opacity: 0;
}

.card:hover .card-description {
  opacity: 1;
}
